mixin feature(mod)
  +b.SECTION(class="feature" + mod)
    +e.H2.title Защита глаз<br>при интенсивных нагрузках
    +e.H2.problem.--fatigue Усталость
    +e.complex
      +e.A.complex-item(href="#")
        +e.IMG(src="img/tablets-kids.png", width="82", height="57")
        +e.complex-text Лютеин детский
      +e.A.complex-item(href="#")
        +e.IMG(src="img/tablets-lutein.png", width="82", height="57")
        +e.complex-text Лютеин комплекс
