mixin infos
  +b.infos
    +b.SECTION.info
      +e.H2.title On-line тест
      +e.P.text Мы предлагаем пройти небольшой тест, который поможет легко и комфортно проверить <strong>остроту</strong>, <strong>контрастность</strong> и <strong>цветовосприятие</strong> вашего зрения.
      +b.A.btn.--alt(href="#") Пройти тест
      +e.P.disclaimer Если по результатам теста Вы отметите ухудшение зрения, Вам следует обратиться к офтальмологу за дополнительной консультацией.
    +b.SECTION.info.--buy
      +e.H2.title Где купить
      +e.P.text Препараты можно преобрести в аптеках по всей России, а&nbsp;так&nbsp;же в интернет аптеках
      +b.A.btn(href="#") Подробнее
