mixin logo
  +b.A.logo.--first(href="http://bauschlomb.com")
    +e.IMG(src="img/logo-bausch.png", alt="Bausch+Lomb", width="180", height="14")
  +b.A.logo(href="http://valeant.com")
    +e.IMG(src="img/logo-valeant.png", alt="Valeant", width="150", height="24")
