mixin page-footer
  +b.FOOTER.page-footer
    +e.A.logo(href="#")
      +e.IMG(src="img/logo-valeant2.png", alt="Valeant", width="178", height="29")
    +e.A.copyrights(href="http://itsoft.ru")
      +e.IMG(src="img/logo-itsoft@2x.png", alt="ITSoft", width="87", height="49")
      +e.SPAN.decorate Создание сайта.
      |  Веб-студия
      +e.STRONG.strong
        +e.EM itsoft
    +e.P.contacts ООО «ВАЛЕАНТ», 115162, г. Москва, ул. Шаболовка, д. 31, стр. 5 Тел./Факс: +7 495 510-2879 www.valeant.com
