mixin risk
  +b.SECTION.risk.js-tabs
    +e.H2.title Группы риска:
    +e.content.--active.js-tab
      +e.col
        +e.img
          +e.IMG(src="img/student.png", alt="student", w)
      +e.col
        +e.content-inner
          +e.H3.subtitle Школьники и студенты
          +e.P.text В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
          +b.A.btn.--small(href) Подробнее
    +e.content.js-tab
      +e.col
        +e.img
          +e.IMG(src="img/student.png", alt="student", w)
      +e.col
        +e.content-inner
          +e.H3.subtitle Заголовок 2
          +e.P.text В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
          +b.A.btn.--small(href) Подробнее
    +e.content.js-tab
      +e.col
        +e.img
          +e.IMG(src="img/student.png", alt="student", w)
      +e.col
        +e.content-inner
          +e.H3.subtitle Заголовок 3
          +e.P.text В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
          +b.A.btn.--small(href) Подробнее
    +e.content.js-tab
      +e.col
        +e.img
          +e.IMG(src="img/student.png", alt="student", w)
      +e.col
        +e.content-inner
          +e.H3.subtitle Заголовок 4
          +e.P.text В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
          +b.A.btn.--small(href) Подробнее
    +e.content.js-tab
      +e.col
        +e.img
          +e.IMG(src="img/student.png", alt="student", w)
      +e.col
        +e.content-inner
          +e.H3.subtitle Заголовок 5
          +e.P.text В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
          +b.A.btn.--small(href) Подробнее
    +e.DIV.tabs.js-tabs-nav
      +e.BUTTON.tabs-btn.--active Работающие за компьютером
      +e.BUTTON.tabs-btn Школьники и студенты
      +e.BUTTON.tabs-btn Автолюбители
      +e.BUTTON.tabs-btn Люди с повышенными зрительными нагрузками
      +e.BUTTON.tabs-btn Туристы
