mixin slider
  +b.slider.js-slider
    +e.item
      +e.col
        +e.content
          +e.H2.title В чем причина<br>ухудшения зрения?
          +e.P.text Любой свет, особенно интенсивный искусственный, повреждает глаза. Световые лучи, проходя сквозь глаз, фокусируются на сетчатке в области желтого пятна - особой области, которая отвечает за максимальную остроту зрения
      +e.col
        +e.img
          +e.IMG(src="img/slider-eye.png", alt="slider pic", )
          //- +e.P.info
          //-   +e.STRONG Желтое пятно
          //-   |  (лат. macula lutea) — место наибольшей остроты зрения в сетчатке глаза
    +e.item
      +e.col
        +e.content
          +e.H2.title В чем причина ухудшения&nbsp;зрения?
          +e.P.text Любой свет, особенно интенсивный искусственный, повреждает глаза. Световые лучи, проходя сквозь глаз, фокусируются на сетчатке в области желтого пятна - особой области, которая отвечает за максимальную остроту зрения
      +e.col
        +e.img
          +e.IMG(src="img/slider-eye.png", alt="slider pic", )
