-
  var socialItems = [
    {
      name: "fb",
      link: "http://facebook.com",
      mod: "--fb"
    },
    {
      name: "twitter",
      link: "http://twittet.com",
      mod: "--twitter"
    },
    {
      name: "skype",
      link: "skype:ins25?call",
      mod: "--skype"
    }
  ]

mixin social
  +b.UL.social
    each item in socialItems
      +e.LI.item
        +e.A.link(href=item.link, class="social__link" + item.mod) #{item.name}
