.infos {
  @include clearfix;
}

.info {
  position: relative;
  float: left;
  width: 50%;
  min-height: 608px;
  padding: 75px 45px 140px;
  &--buy {
    background: #4282ad url("../img/map.png") no-repeat 50% 50% / cover;
    color: #fff;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 50px;
    max-width: 395px;
    min-height: 4.9em;
  }

  &__disclaimer {
    position: absolute;
    bottom: 40px;
    right: 30px;
    width: 342px;
    font-size: .857rem;
    line-height: 1.5;
    color: #005494;
    &::before {
      @include retina-sprite($icon-check-group);
      content: "";
      position: absolute;
      top: -15px;
      left: -43px;
      width: 29px;
      height: 37px;
    }
  }
}


@media (max-width: 1240px) {
  .info {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .info {
    min-height: 0;
  }
}

@media (max-width: 480px) {
  .info {
    padding: 40px 20px;
    &__disclaimer {
      position: relative;
      bottom: auto;
      right: auto;
      width: auto;
      margin-left: 40px;
    }
  }
}
