.page-footer {
  @include clearfix;
  padding: 73px 70px 60px 35px;
  font-family: "ubuntu";
  color: #929292;
  box-shadow: inset 0 14px 14px -14px rgba(#005494, .65);
  &__logo {
    float: left;
    width: 178px;
    transition: all .3s;
    &:hover {
      opacity: .7;
    }
  }

  &__copyrights {
    position: relative;
    top: -12px;
    float: right;
    width: 200px;
    font-size: .857rem;
    line-height: 1.28;
    color: #929292;
    &:hover {
      .page-footer__decorate {
        text-decoration: none;
      }
    }

    img {
      float: left;
      margin-right: 9px;
      width: 87px;
      height: 49px;
    }
  }

  &__decorate {
    display: block;
    padding-top: 9px;
    text-decoration: underline;
  }

  // &__strong {
  //   display: block;
  // }

  &__contacts {
    max-width: 364px;
    margin: 0 auto;
    font-size: .857rem;
    font-weight: 400;
    line-height: 1.66;
  }
}

@media (max-width: 1180px) {
  .page-footer {
    &__contacts {
      clear: both;
      padding-top: 20px;
      margin: 0;
    }
  }
}

@media (max-width: 560px) {
  .page-footer {
    padding: 50px 35px 40px;
    &__logo {
      float: none;
      display: block;
    }
    &__copyrights {
      top: 0;
      float: none;
      display: block;
      padding-top: 20px;
    }
  }
}
