.risk {
  @include clearfix;
  position: relative;
  height: 618px;
  padding-top: 52px;
  color: #fff;
  background: url("../img/risk-bg.jpg") no-repeat 50% 50% / cover;
  background-color: #01345b;
  overflow: hidden;
  &__col {
    position: relative;
    float: left;
    width: 50%;
  }

  &__img {
    text-align: center;
  }

  &__title {
    padding-bottom: 1.4em;
    text-align: center;
  }

  &__content {
    display: none;
    &--active {
      display: block;
    }
  }

  &__content-inner {
    padding-right: 10px;
    max-width: 470px;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 1.71rem;
  }

  &__text {
    max-height: 12em;
    overflow: hidden;
    margin-bottom: 30px;
    line-height: 1.57;
  }

  &__tabs {
    position: absolute;
    bottom: 35px;
    left: 50%;
    max-width: 500px;
    text-align: center;
    transform: translateX(-50%);
  }

  &__tabs-btn {
    display: inline-block;
    vertical-align: middle;
    padding: .3em 1.36em;
    margin: 0 5px 10px;
    font-size: .78rem;
    line-height: 1.36;
    color: #005494;
    text-decoration: none;
    background-color: #fff;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    transition: all .3s;
    &:hover,
    &:active,
    &:focus,
    &--active {
      background-color: #0c6db6;
      color: #fff;
      outline: 0;
    }
  }
}

@media (max-width: 790px) {
  .risk {
    height: auto;
    padding-left: 45px;
    padding-right: 45px;
    &__col {
      float: none;
      width: 100%;
    }

    &__img {
      display: none;
    }

    &__content-inner {
      margin: 0 auto 40px;
    }

    &__text {
      max-height: none;
    }

    &__tabs {
      position: relative;
      left: auto;
      bottom: auto;
      max-width: 350px;
      margin: 0 auto 20px;
      transform: translate(0);
    }
  }
}

@media (max-width: 480px) {
  .risk {
    padding: 40px 20px 0;
  }
}
