.social {
  @include list-clear;
  margin-bottom: 45px;
  &__item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
  }

  &__link {
    @include text-hide;
    display: block;
    transition: opacity .3s;
    &:hover,
    &:active,
    &:focus {
      opacity: .7;
    }

    &--fb {
      @include retina-sprite($icon-fb-group);
      width: 9px;
      height: 19px;
    }

    &--twitter {
      @include retina-sprite($icon-twitter-group);
      width: 20px;
      height: 15px;
    }

    &--skype {
      @include retina-sprite($icon-skype-group);
      width: 16px;
      height: 16px;
    }
  }
}
